* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
    }

    .container {
        border: 2px solid red;
        width: 50%;
        height: 50vh;
        display: flex;
      /*   gap: 20px; */
        flex-wrap: wrap;
        flex-direction: column;
       /*  place-content: center; */
     /*   align-content: center; */
   /*     align-items: flex-end; */
        
    }
    
    .box-1{}


    .box-2{}

    .box-3{
        align-self: flex-end;
    }

    .box-4{}