* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
    }

    .container {
        border: 2px solid red;
        width: 50%;
        height: 50vh;
        display: flex;
      /*   gap: 20px; */
        flex-wrap: wrap;
        flex-direction: column;
       /*  place-content: center; */
     /*   align-content: center; */
   /*     align-items: flex-end; */
        
    }
    
    .box-1{
      order:0;
    }


    .box-2{
      order:2;
    }

    .box-3{
      order: 3;
        /* align-self: flex-end;  */
    }
    /* align-self is just used to move one flex item inside a container*/
    .box-4{
      order: 4;
    }