* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        
    }
    